script,
head {
    display: none;
}

.container-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: none;
    background-color: bisque;
}
.row
{
    margin: 0.5em;
}

#result {
    height: auto;
    border: 1px solid #767676;
    /* border-radius: 4px; */
    background-color: #fff;
    color: #333;
}

button
{
    margin-left: 1em !important;
    border: none;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(146,254,242,1) 43%, rgba(253,237,45,0.9047268565629377) 100%); */
}

#notice {
    color: red;
}


