/* label
{
    padding-right: 0.5em;
    margin: 0.5em;
    box-sizing: content-box;
} */
script,
head {
    display: none;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: none;
    background-color: bisque;
}
.row
{
    margin: 0.5em;
}

#result {
    color: green;
    /* Text color */
    /* Background color */
    /* padding: 10px; */
    /* Add padding */
    border-radius: 5px;
    border: 1px solid #ccc;
}

#notice {
    color: red;
}

output {}